body {
	margin: 0;
	padding: 0;
	font-size: 18px;
	color: var(--tg-theme-text-color);
	background: var(--tg-theme-bg-color);
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
	background: linear-gradient(135deg, #68df64, #000000ee); /* Градиентный фон */
	border-radius: 15px;
	animation: fadeIn 1s ease-in-out; /* Плавная анимация появления */
	text-align: center; /* Центрирование содержимого */
	max-width: 100%; /* Ограничиваем ширину контейнера на 100% относительно родителя */
	width: 500px; /* Явно устанавливаем ширину контейнера */
	margin: 0 auto; /* Центрирование контейнера */
	padding: 10px; /* Отступы для визуальной эстетики */
	box-sizing: border-box; /* Учитываем отступы и границы в ширине */
}

details {
	max-width: 100%; /* Устанавливаем, чтобы <details> подстраивался под родительский контейнер */
	overflow: hidden; /* Обрезаем содержимое, выходящее за пределы */
	box-sizing: border-box; /* Учитываем отступы и границы */
}

details img {
	width: 100%; /* Ограничиваем изображение внутри details по ширине контейнера */
	height: auto; /* Сохраняем пропорции */
}

/* Заголовок для надписи */
.title {
	font-size: 12px;
	color: white;
	margin-bottom: 10px;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Легкая тень для текста */
}

/* Анимация плавного появления */
@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(20px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

.inner {
	width: 100%; /* Ширина inner для полного использования доступного пространства */
	max-width: 500px; /* Ограничиваем максимальную ширину */
	margin: 0 auto; /* Центрирование */
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 20px; /* Отступы между элементами */
	background-color: white; /* Фон inner */
	padding: 20px; /* Внутренний отступ */
	border-radius: 8px; /* Закругленные углы */
	box-sizing: border-box; /* Учитываем отступы и границы */
}


.item {
	text-align: center;
	background-color: white; /* Белый фон для item */
	border-radius: 8px;
	padding: 20px; /* Внутренний отступ */
}

.input-section {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 20px;
}

#linkInput {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 8px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease;
}

#linkInput:focus {
    border-color: rgb(24, 248, 99);
    outline: none;
}

.btn {
    padding: 10px 15px;
    border: none;
    background: rgb(24, 248, 99);
    border-radius: 8px;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
    transition: background 0.3s ease;
    flex-shrink: 0; /* предотвращает сжатие кнопки */
}

.btn:hover {
    background: whitesmoke;
}

.btn:active {
    background: #cccccc;
}
