body {
	margin: 0;
	padding: 0;
	font-size: 18px;
	color: black;
	background: white;
}

.container {
	max-width: 500px;
}

.inner {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 200px 200px 200px;
}

.item {
	text-align: center;
	border: 10px black;
	border-radius: 1%;
	background-color: whitesmoke;
	max-width: 300px;
}

.input-section {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 20px;
}

#linkInput {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 8px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease;
}

#linkInput:focus {
    border-color: rgb(24, 248, 99);
    outline: none;
}

.btn {
    padding: 10px 15px;
    border: none;
    background: rgb(24, 248, 99);
    border-radius: 8px;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
    transition: background 0.3s ease;
    flex-shrink: 0; /* предотвращает сжатие кнопки */
}

.btn:hover {
    background: whitesmoke;
}

.btn:active {
    background: #cccccc;
}
